.present-day {
    background-color: green !important;
    color: white !important;
    border-radius: 50%;
  }
  
  .absent-day {
    background-color: red !important;
    color: white !important;
    border-radius: 50%;
  }
  
  .on-leave-day {
    background-color: blue !important;
    color: white !important;
    border-radius: 50%;
  }
  
  .react-calendar__tile {
    text-align: center;
    padding: 5px;
  }
  
  button {
    border-radius: 10px;
  }
  